<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Jelajah uses your location to display nearby business location</string>
	<key>CLIENT_ID</key>
	<string>INSERT HERE</string>
	<key>API_KEY</key>
	<string>INSERT HERE</string>
</dict>
</plist>
